<section class="hero is-fullheight is-default is-bold">
  {% include 'navbar' %}
  {% include 'navbar-clone' %}
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-5 is-offset-1 landing-caption">
          <h1 class="title is-1 is-bold is-spaced">{% editable_text "title", line_break: false, format: 'raw', rows: 1 %}{% endeditable_text %}</h1>
          <h2 class="subtitle is-5 is-muted">{% editable_text "text", line_break: false, format: 'raw', rows: 5 %}{% endeditable_text %}</h2>
          <p>
            <a class="button cta rounded primary-btn raised">{% editable_text "button", line_break: false, format: 'raw', rows: 1 %}{% endeditable_text %}</a>
          </p>
        </div>
        <div class="column is-5 is-offset-1">
          <figure class="image is-4by3">
            <img src="{% editable_file 'picture' %}{% endeditable_file %}" alt="Description">
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot mb-20">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          {% for client in contents.clients %}
          <li><a><img class="partner-logo" src="{{ client.logo.url }}"></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>