---
title: Default layout
is_layout: false
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ 'favicon.png' | theme_image_url }}" />
    {% seo %}
    {{ 'bundle.css' | stylesheet_tag }}
    {{ 'bundle.js' | javascript_tag }}
    {% if wagon %}<script src="http://localhost:35729/livereload.js"></script>{% endif %}
  </head>
  <body>
    {% include 'preloader' %}
    {% block 'main' %}
    {% endblock %}
    {% include 'footer' %}
    {% include 'backtotop' %}
    {% include 'sidebar' %}
  </body>
</html>
